/bin/
*.o
*.a
*.d
*.tmp
*.output
/src/elkhound/Makefile
/src/elkhound/c/Makefile
/src/smbase/Makefile
/src/ast/Makefile
config.status
config.summary
testcout
ccsstr
/src/elkhound/glrconfig.h
/src/ast/agramlex.yy.cc
/src/ast/agrampar.codes.*
/src/ast/agrampar.tab.*
/src/elkhound/grampar.codes.*
/src/elkhound/grampar.tab.*
/src/elkhound/c/lexer1yy.cc
/src/elkhound/examples/arith/arithyy.cc
/src/ast/ext1.h
/src/ast/ext1.cc
TAGS
